

.cod .ROV-logo img{
  /* db5db10e92387724ab25f92a8c1e6e9f 1 */

position: absolute;
width: 136px;
height: 192px;
left: 97px;
top: 108px;


}

.cod .button1 {
  /* Ellipse 5 */

position: absolute;
width: 27px;
height: 25px;
left: 896px;
top: 540px;

background: #8E8E8E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
z-index: 1;
border: 1px solid #8E8E8E;
cursor: pointer;
}

.cod .button2{
  /* Ellipse 6 */

position: absolute;
width: 27px;
height: 25px;
left: 940px;
top: 540px;

background: #D7D7D7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
z-index: 1;
border: 1px solid #D7D7D7;
cursor: pointer;
}

.cod .button3{
  /* Ellipse 7 */

position: absolute;
width: 27px;
height: 25px;
left: 984px;
top: 540px;

background: #D2D2D2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
border: 1px solid #D2D2D2;
cursor: pointer;
z-index: 1;
}

.button.active {
  background-color: #8E8E8E; /* Active background color */
}

.button.inactive {
  background-color: red; /* Inactive background color (red for all) */
}

.cod .upload-box{
  /* อัปรูป */

position: absolute;
width: 576px;
height: 334px;
left: 666px;
top: 248px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;


}

.upload-box:hover {
  background-color: #c9c9c9;
}

input[type="file"] {
  display: none;
}

.cod .detail-name label{
  /* ชื่อสินค้า */

position: absolute;
width: 178px;
height: 42px;
left: 937px;
top: 601px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-name input{
  /* Rectangle 20 */

position: absolute;
width: 576px;
height: 36px;
left: 666px;
top: 620px;
font-size: 20px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
outline: none;
}

.cod .detail-price label{
  /* ราคา */

position: absolute;
width: 178px;
height: 42px;
left: 1389px;
top: 373px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-price input{
  /* Rectangle 21 */

box-sizing: border-box;

position: absolute;
width: 257px;
height: 84px;
left: 1369px;
top: 415px;

background: #FAB40A;
border: 1px solid #FAB40A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
outline: none;
font-size: 40px;
}

.cod .detail-hero label{
  /* จำนวนฮีโร่ */

position: absolute;
width: 178px;
height: 42px;
left: 582px;
top: 679px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-hero input{
  /* Rectangle 4 */

position: absolute;
width: 135px;
height: 36px;
left: 540px;
top: 708px;
font-size: 20px;
background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
outline: none;
border: 1px solid #D9D9D9;
text-align: center;
}

.cod .detail-skin label{
  /* จำนวนสกิน */

position: absolute;
width: 178px;
height: 42px;
left: 784px;
top: 679px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-skin input{
  /* Rectangle 6 */

position: absolute;
width: 135px;
height: 36px;
left: 742px;
top: 709px;
font-size: 20px;
background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
border: 1px solid #D9D9D9;
text-align: center;
outline: none;
}

.cod .detail-rank label{
  /* แรงก์ */

position: absolute;
width: 32px;
height: 42px;
left: 962px;
top: 679px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-rank input{
  /* Rectangle 7 */

position: absolute;
width: 135px;
height: 36px;
left: 913px;
top: 708px;
font-size: 20px;
background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
border: 1px solid #D9D9D9;
text-align: center;
outline: none;
}

.cod .detail-winRate label{
  /* วินเรท */

position: absolute;
width: 32px;
height: 42px;
left: 1129px;
top: 682px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-winRate input{
  /* Rectangle 8 */

position: absolute;
width: 135px;
height: 36px;
left: 1079px;
top: 708px;
font-size: 20px;
background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
border: 1px solid #D9D9D9;
text-align: center;
outline: none;
}

.cod .detail-gold label{
  /* ทอง */

position: absolute;
width: 23px;
height: 42px;
left: 596px;
top: 750px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-gold input{
  /* Rectangle 18 */

position: absolute;
width: 135px;
height: 31px;
left: 540px;
top: 767px;
font-size: 18px;
background: rgba(250, 180, 10, 0.62);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
border: 1px solid rgba(250, 180, 10, 0.62);
outline: none;
}

.cod .detail-redDaimond label{
  /* เพชรแดง */

position: absolute;
width: 55px;
height: 42px;
left: 790px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-redDaimond input{
  /* Rectangle 19 */

position: absolute;
width: 135px;
height: 31px;
left: 742px;
top: 768px;
font-size: 18px;
background: rgba(247, 0, 0, 0.63);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
outline: none;
}

.cod .detail-redMarble label{
  /* ลูกแก้วแดง */

position: absolute;
width: 55px;
height: 42px;
left: 953px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-redMarble input{
/* Rectangle 16 */

box-sizing: border-box;

position: absolute;
width: 135px;
height: 36px;
left: 917px;
top: 768px;
font-size: 18px;
background: rgba(247, 0, 0, 0.74);
border: 1px solid rgba(247, 0, 0, 0.74);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
outline: none;
}

.cod .detail-coupon label{
  /* คูปอง */

position: absolute;
width: 55px;
height: 42px;
left: 1131px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-coupon input{
  /* Rectangle 17 */

position: absolute;
width: 135px;
height: 33px;
left: 1079px;
top: 768px;
font-size: 18px;
background: rgba(24, 119, 242, 0.78);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
border: 1px solid rgba(24, 119, 242, 0.78);
outline: none;
}

.cod .detail-connect label{
  /* การเชื่อมต่อ */

position: absolute;
width: 96px;
height: 42px;
left: 1275px;
top: 676px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .connect-box {
  /* Rectangle 9 */

position: absolute;
width: 135px;
height: 36px;
left: 1238px;
top: 703px;

background: #D9D9D9;
border-radius: 15px;

}

.cod .detail-username label{
  /* Username */

position: absolute;
width: 178px;
height: 42px;
left: 791px;
top: 874px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cod .detail-username input{
  /* Rectangle 13 */

position: absolute;
width: 551px;
height: 36px;
left: 772px;
top: 895px;
font-size: 20px;
background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
outline: none;
border: 1px solid  #D9D9D9;
outline: none;
text-align: center;
}

.cod .username-image{
  /* Rectangle 23 */

position: absolute;
width: 144px;
height: 157px;
left: 607px;
top: 857px;

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;

}

.cod .username-rating {
  /* image 7 */

position: absolute;
width: 172px;
height: 46px;
left: 590px;
top: 1014px;


}